body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
    background: linear-gradient(to bottom right, #000000, #333333);
    font-family: Arial, sans-serif;
    color: white; /* Texto blanco para contraste */
}
.banner{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 10px;
    text-align: center;
    z-index: 1000;
}

.container {
    text-align: center;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-height: 100%;
    max-width: 80%;
}
.logo {
    max-width: 35%;
    margin-bottom: 20px;
}

.enlaces {
    margin-top: 20px;
}

.enlace {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    width: 200px;
}

.whatsapp {
    background-color: #25D366;
}

.email {
    background-color: #007bff;
}
.tiktok {
    background-color: black;
}

.enlace:hover {
    opacity: 0.8;
}

.redlogo{
        margin: 0;
    top: 4px;
    /* padding: 0; */
    left: 22px;
    position: relative;
    max-width: 25px;

}

.horarios{
    max-width: fit-content;
    max-height: fit-content;
    color: black;
    align-items: center;
    position: relative;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
/*@media screen and (max-aspect-ratio: 2/3){
    .container {
    text-align: center;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}*/
