body {
  background-image: url(imagenes/background.png);
    font-family: Inter;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
    /*background: linear-gradient(to bottom right, #000000, #FFFFFF);*/
    font-family: Inter;
    color: white; /* Texto blanco para contraste */
}
.banner{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 10px;
    text-align: center;
    z-index: 1000;
}

.container {
     background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow:
    0 0 10px rgba(0, 0, 0, 0.2),
    inset 0 0 10px rgba(255, 255, 255, 0.5),
    inset 0 0 20px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.5));

    text-align: center;

}
.logo {
    margin-top: 10px;
    max-width: 110px;
      filter: brightness(1.5); /* brillo inicial */
  animation: brillo 6s infinite; /* duración de la animación: 6 segundos */
}


@keyframes brillo {
  0% {
    filter: brightness(0.5); /* brillo inicial */
  }
  50% {
    filter: brightness(1.5); /* brillo máximo */
  }
  100% {
    filter: brightness(0.5); /* brillo inicial */
  }
}

.enlaces {
    margin-top: 20px;
}

.enlace {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    border-radius: 40px;
    width: 200px;
    backdrop-filter: brightness(36.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0), inset 0 0 6px rgba(255, 255, 255, -2.5), inset 0 0 20px rgba(0, 0, 0, 0.1);
}
.enlace::after {
  --overflow-x: 4px;
  --snow-image: url(snow-cap-test-2.webp);
  content: "";
  position: absolute;
  top: -6px;
  left: calc(var(--overflow-x) * -1);
  border-image-source: var(--snow-image);
  border-image-slice: calc(6 * 56 / 20) fill;
  border-image-width: calc(28px / 3);
  border-image-repeat: round;
  width: calc(100% + var(--overflow-x) * 2);
  height: 28px;
  filter: drop-shadow(0 2px 1px rgba(0, 0, 0, 0.25));
  opacity: 1;
  -webkit-animation: fade-in 2s;
          animation: fade-in 2s;
}


.whatsapp {
    
      background-color: green;

}

.email {
         background-color: blue;
    
}
.tiktok {
         background-color: black;
      
}
.catalogo {
         background-color:red;
}


.enlace:hover {
    opacity: 0.8;
}

.redlogo{
        margin: 0;
    top: 4px;
    /* padding: 0; */
    left: 13px;
    position: relative;
    max-width: 25px;

}

.horarios{
    border-radius: 30px;
    padding: 11px;
    background-color: black;
    max-width: fit-content;
    max-height: fit-content;
    color: white;
    align-items: center;
    position: relative;
    margin-top: 7px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}
/*@media screen and (max-aspect-ratio: 2/3){
    .container {
    text-align: center;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}*/
